<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag 'pdf' -%>
    <%= wicked_pdf_javascript_include_tag 'number_pages' %>
  </head>
  <body onload='number_pages'>
    <p style="text-align:right; font-size: xx-small;">
      出力日時: <%= Time.zone.now.to_s %>
    </p>

    <h1 style="text-align:center;"><%= @comment.title %></h1>

    <div id="content">
      <%= @comment.content.force_encoding('UTF-8').html_safe %>
    </div>
  </body>
</html>